.Signup-Form-Modal-Header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding: 0px 24px;
  min-height: 64px;
  border-bottom: 0.5px solid rgb(110, 107, 107);
  justify-content: space-between;
  color: solid black;
  font-size: 20px;
}

.Signup-Modal {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.Signup-Title {
  text-align: center;
  width: 100%;
}

.Modal-Title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  width: 100%;
}

.signUpWelcome {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 24px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  justify-content: center;
}

.signup-form-input {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid rgb(186, 211, 219);
  border-radius: 5px;
  box-shadow: lightblue;
}

.signup-button {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(228, 234, 240);
  padding: 12px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  background-color: #ff385c;
}
