.oneSpot-Image {
  display: grid;

  width: 285px;
  height: 285px;

  object-fit: cover;
}

.reviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 90%;
}

.imgParentContainer {
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(285px, 1fr)); */
  /* padding: 3em;
  grid-gap: 2em; */
  width: 100%;
  height: 100%;
  gap: 5px;
}

.oneSpot-Image {
  height: auto;
  width: auto;
  width: 40%;
  height: 40%;
}
.small {
  height: 100%;
  width: 100%;
}

.corner-top {
  border-top-right-radius: 15px;
}
.corner-bottom {
  border-bottom-right-radius: 15px;
}

.Big {
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

/* .mainImgContainer {
  width: 500;
  height: auto;
} */

.secondaryImgContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  width: 45%;
}

.description-checkin-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 20px;
}

.spotContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spot-detail-review {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 815px;
  gap: 20px;
}

.checkin {
  outline: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 5%;
  border: none;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  width: 30%;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
    font-family: "Montserrat", sans-serif;

}

.checkin-description {
  width: 60%;
  padding: 15px;
  word-wrap: break-word;
}

.mainImgContainer {
  width: 45%;
}

.checkin-star-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  height: 20px;
  align-items: center;
}

.checkin-star-price div:first-child {
  font-weight: 600;
}

.total-price {
  margin-top: 10px;
  border-top: 1px solid #e8e8e8;
}

.spancheckin {
  display: flex;
  gap: 10px;
}

.period {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 2vh;
}

.title-container {
  align-self: flex-start;
  margin-left: 6%;
  margin-bottom: 10px;
}

.title-info {
  display: flex;
  gap: 10px;
  align-items: center;
    font-family: "Montserrat", sans-serif;

}

.star {
  font-size: 15;
}

.title-Spot {
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2.5px;
}

.description {
  font-size: 1.5vh;
    font-family: "Montserrat", sans-serif;

}

.review-box {
  margin-top: 10px;
  width: 90%;
  border: none;
  outline: 1px solid #e8e8e8;
}

.Delete-Button {
  display: flex;
  justify-content: center;
    border-radius: 15px;
  cursor: pointer;
  color: rgb(228, 234, 240);
  padding: 6px 15px;
  font-size: 16px;
  /* margin-top: 20px; */
  border: none;
  background-color: #ff385c;
  margin-top: 5px;
}


.you-wont-be-charged {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* margin-top: 8px; */
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
}

.checkin-label {
  font-weight:600
}

.checkout-label {
  font-weight:600
}

.reviewOne {
  font-family: 'Montserrat', sans-serif;
  margin-top: 35px;
}

.reviewSpace {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}
