.oneSpot-Image {
  display: grid;

  width: 285px;
  height: 285px;
  border-radius: 12px;
  object-fit: cover;
}

.reviewOne {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.reviewContainer {
  display: flex;
  justify-content: space-between;
}

.imgParentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(285px, 1fr));
  padding: 3em;
  grid-gap: 2em;
}

.oneSpot-Image {
  height: 285px;
  width: 285px;
}

.Big {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
