.createSpotForm {
  border: none;
  outline: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  padding: 30px;
  gap: 15px;
  width: max(40vw, 400px);
}

.Form-Component div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.Form-Component div input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  font-size: 16px;
  outline: 0.5px solid rgb(186, 211, 219);
  border-radius: 5px;
  box-shadow: lightblue;
  height: 20px;
}

.Form-Component div label {
  font-size: 1.5vh;
}
.Form-Component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.SpotButton {
  border-radius: 15px;
  cursor: pointer;
  color: rgb(228, 234, 240);
  padding: 12px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  background-color: #ff385c;
}

.create-your-spot {
  font-size: 2.5vh;
}
