.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button:hover {
  opacity: 0.9;
  color: black;
}

input:focus,
input:hover {
  outline: 1px solid rgb(135, 164, 173);
}
