.allSpots {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
  max-width: 285px;
  margin: 0;
}

.Image {
  width: 285px;
  height: 285px;
  border-radius: 12px;
  object-fit: cover;
}

.grouping-info {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 2vh;
  color: black;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.gridSpot {
  display: grid;
  /* grid-gap: 2em; */
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(285px, 100%/5)), 1fr)
  );
  width: 100%;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  outline: 1px solid #e8e8e8;
  padding: 20px;
  border: none;
  border-radius: 10px;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spot-price-h1 {
  color: black;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.spotName {
  color: black;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
