.nav-wrapper {
  width: 100%;
  max-width: 1760px;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 115px;
  /* margin-left: 10%; */
  cursor: pointer;
}

ul {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 22px 15px;
  /* width: 40px; */
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
  display: flex;
  gap: 10px;
  border: none;
  outline: 1px solid #b8b8b8;
}

ul li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.profile-dropdown {
  position: absolute;
  right: 0px;
  top: 55px;
  display: flex;
  flex-direction: column;
  border: none;
  outline: 0.5px solid #b8b8b8;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  width: 200px;
  box-shadow: 0 4px 15px 0 solid #717171;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.profile-dropdown li {
  border-bottom: 0.5px solid #b8b8b8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.profile-dropdown li:hover {
  color: #b4b4b4d8;
}
.profile-dropdown button {
  border-radius: 20px;
  padding: 10px 24px;
  cursor: pointer;
  background-color: #ff385c;
  border: none;
  outline: 1px solid #717171;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.profile-dropdown li:last-child {
  border: none;
}

.hamburger {
  position: relative;
  justify-content: space-evenly;
}

.host-your-place {
  display: flex;
  font-family: Roboto, Helvetica Neue, sans-serif;
  justify-content: center;
  align-items: center;
}

.host-your-place:hover {
  opacity: 0.2;
}

.button-login-signup {
  padding: 15px 24px;
  /* width: 40px; */
  cursor: pointer;
  border-radius: 15px;
  height: 7.5%;
  display: flex;
  align-items: center;
}

.button-login-signup {
  font-size: 16px;
  margin: 15px;
  background-color: initial;
  border: none;
  cursor: pointer;
}
