.Login-Modal {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  width: max(35vw, 500px);
  gap: 25px;
}

.Login-Modal div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.Login-Modal div .input-label {
  font-weight: bolder;
  font-size: 20px;
}

.Login-Modal div input {
  box-sizing: border-box;
  padding: 15px;
  outline: 0.5px solid rgb(186, 211, 219);
  border-radius: 5px;
  box-shadow: lightblue;
  font-size: 18px;
  width: 100%;
  border: none;
}

.Modal-Title {
  width: 100%;
  font-weight: 500;
  font-size: 3vh;
  border-bottom: 0.5px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.Link-Login {
  text-align: center;
  width: 100%;
}

.Login-Modal div button {
  border-radius: 15px;
  cursor: pointer;
  color: rgb(228, 234, 240);
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background-color: #ff385c;
  height: 5vh;
}

.login-x-out {
  cursor: pointer;
  background: transparent;
  border: none;
  margin: 3px;
  padding: 3px;
}

.WelcomeMessage {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.input-label {
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.Link-Login {
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.error-login {
  color: red;
}
